{% extends "layout.html" %}
   
{% block content %}
<div class="row">
    <h1 class="text-center"><i class="fi-wrench" style = "color: orange;"></i></h1>
</div>

<div class="row">
<div class="grid-x grid-padding-x">
    <div class="cell auto"></div>
    <div class="cell medium-6">
        <div class="card">
            <div class="card-section">
                <br>    
                <h4 class="text-center">Page Not Found!</h4>
                <br>
            </div>
        </div>
    </div>
    <div class="cell auto"></div>
</div>
</div>
</div>

{% endblock %}
