{% extends "layout.html" %}
   
{% block content %}
<div class="row">
    <h1 class="text-center"><i class="fi-key" style = "color: orange;"></i></h1>
</div>

<div class="row">
<div class="grid-x grid-padding-x">
    <div class="cell auto"></div>
    <div class="cell medium-6">
        <div class="card">
            <div class="card-section">
                <form class="log-in-form" action="/loginUser" method="POST">
                    <h4 class="text-center">Login with you email account</h4>
                    <label>Email
                      <input type="email" name="email" required="required" placeholder="somebody@example.com">
                    </label>
                    <label>Password
                      <input type="password" name="pwd" required="required" placeholder="Password">
                    </label>
                    <p><input type="submit" class="button expanded warning" value="Login"></input></p>
                    <p><span id="msg">{{ message }}</span></p>
                </form>
            </div>
        </div>
    </div>
    <div class="cell auto"></div>
</div>
</div>
</div>

{% endblock %}
